boto3==1.34.48 ; python_version >= "3.13"
botocore==1.34.48 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and sys_platform == "win32"
crhelper==2.0.11 ; python_version >= "3.13"
jmespath==1.0.1 ; python_version >= "3.13"
loguru==0.7.2 ; python_version >= "3.13"
python-dateutil==2.8.2 ; python_version >= "3.13"
s3transfer==0.10.0 ; python_version >= "3.13"
simplejson==3.19.2 ; python_version >= "3.13"
six==1.16.0 ; python_version >= "3.13"
urllib3==2.0.7 ; python_version >= "3.13"
win32-setctime==1.1.0 ; python_version >= "3.13" and sys_platform == "win32"
